.moves-to-curr-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .moves-transaction{
        
         font-family: Circular-Light;
         gap:7px;
         align-items: flex-start;
         justify-content: flex-start;
         color:var(--clr4);
         list-style-type: none;
         span{
             font-size: larger;
            }
        }
    }
    .moves-to-curr-contact{
     
        overflow-y: scroll;
        max-height: 240px;
min-width: 630px;
        h2{
            font-family: Circular-Light;
            color:var(--clr4);
            // border-block-end: 1px solid #fff;
width: 100%;
text-align: center;
            
        }
        ul{
            justify-content: flex-start;
            align-items: start;
        }

   
 }