:host{
  min-height: 100%;
}
.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  width: 90%;
  max-width: 350px;
  max-height: 85vh;
  background-color: #1b2028;
  border-radius: 16px;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-image: linear-gradient(
      135deg,
      rgba(#752e7c, 0.35),
      rgba(#734a58, 0.1) 15%,
      #1b2028 20%,
      #1b2028 100%
  );
  &:after {
      content: "";
      display: block;
      top: -3px;
      left: -3px;
      bottom: -3px;
      right: -3px;
      z-index: -1;
      position: absolute;
      border-radius: 16px;
      background-image: linear-gradient(
          135deg,
          #752e7c,
          #734a58 20%,
          #1b2028 30%,
          #2c333e 100%
      );
  }
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  width: 175px;
  height: 175px;
  position: relative;
  img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
  }
}
.edit-page-container {
    grid-column: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   min-height: 100%;
  
    .edit-form {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      flex-direction: column;
      gap: 15px;
      padding: 50px;
      padding-block-end: 10px;
      padding-block-start: 0px;
      border-radius: 15px;
      width: 100%;
  
  
      .edit-page-img {
        width: 200px;
        border-radius: 999px;
      }
  
      input {
        border-radius: 5px;
        padding: 5px;
      }
  
      .btn {
        border: 0;
        background-color: transparent;
        padding: 0;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        line-height: 1;
        transition: 0.15s ease;
        margin-block-start: 20px;
        &--primary {
            border-radius: 99em;
            background-color: #3772ff;
            background-image: linear-gradient(135deg, #5587ff, #3772ff);
            color: #fff;
            padding: 0 1.375em;
            &:hover,
            &:focus {
                background-size: 150%;
            }
        }
      }
  
  
    }
  }