  
    <section class='confirmed-chart-conatiner'>
        <h2 class='confirmed-title'>Confirmed Transactions Per Day</h2>
        <h4 class='confirmed-sub-title'>The total number of confirmed transactions per day.</h4>
       
      </section>
      <div class="chart-container">

        <canvas width="1000px" height="600px" id="MyChart" >{{ chart }}</canvas>
    </div>
      <section class='confirmed-explanation-con'>
        <h2 class='confirmed-explanation'>Explanation</h2>
        <p class='confirmed-txt'>The number of daily confirmed transactions highlights the value of the
           Bitcoin network as a way to securely transfer funds without a third part.</p>
    
      </section>